.Project {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.ProjectLeft {
  width: 58%;
  height: 100%;
}

.ProjectRight {
  width: 40%;
  height: 100%;
  margin-left: 10px;
}

.ProjectTitle {
  font-size: 25px;
  font-weight: bold;
  background-color: #111111;
  padding: 10px;
  display: flex;
}

.ProjectTitleText {
  min-height: 30px;
  width: 78%;
}
.ProjectMore {
  margin-top: 2px;
  width: 90px;
  height: 15px;
  padding: 5px;
  background-color: white;
  color: black;
  font-size: 14px;
  text-align: center;
}

.ProjectThumbnail {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-top: 10px;
}

.ProjectThumbnail video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

.ProjectOneliner {
  margin-top: 10px;
  padding: 19px;
  font-size: 14px;
  background-color: #111111;
  flex-grow: 1;
}

.ProjectRole {
  font-size: 25px;
  background-color: #111111;
  padding: 10px;
}

.ProjectInformation {
  background-color: #111111;
  padding: 10px;
  padding-bottom: 1px;
  margin-top: 10px;
  font-size: 14px;
}

.ProjectInformation p {
  line-height: 10px;
}

.ProjectInformation a {
  text-decoration: underline;
}

.ProjectInformationTitle {
  font-weight: bold;
  font-size: 16px;
}

.ProjectResponsibilities {
  background-color: #111111;
  padding: 10px;
  padding-bottom: 2px;
  margin-top: 10px;
  font-size: 14px;
}

.ProjectResponsibilitiesTitle {
  font-weight: bold;
  font-size: 16px;
}

.ProjectTags {
  width: 100%;
  background-color: #111111;
  margin-top: 10px;
}

/* .ProjectTagsTitle {
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  padding-bottom: 0px;
} */

.ProjectTagsList {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

/* 
.ProjectButtons {
  margin-top: 10px;
  display: flex;
}

.ProjectButtonView {
  margin-right: 10px;
  padding: 20px 40px 20px 40px;
  background-color: #111111;
  font-weight: bold;
  text-decoration: underline;
  flex-grow: 1;
  text-align: center;
}

.ProjectButtonSteam {
  margin-right: 10px;
  padding: 20px 40px 20px 40px;
  background-color: #00adee;
  font-weight: bold;
  text-decoration: underline;
  flex-grow: 1;
  text-align: center;
}

.ProjectButtonItch {
  margin-right: 10px;
  padding: 20px 40px 20px 40px;
  background-color: #de425c;
  font-weight: bold;
  text-decoration: underline;
  flex-grow: 1;
  text-align: center;
}

.ProjectButtonYt {
  margin-right: 10px;
  padding: 20px 40px 20px 40px;
  background-color: #b2071d;
  font-weight: bold;
  text-decoration: underline;
  flex-grow: 1;
  text-align: center;
} */

@media (min-width: 1920px) {
  .ProjectTitle {
    font-size: 40px;
  }
  .ProjectTitleText {
    min-height: 45px;
    width: 85%;
  }
  .ProjectMore {
    margin-top: 10px;
  }
  .ProjectRole {
    font-size: 40px;
  }

  .ProjectInformation {
    font-size: 18px;
    padding-bottom: 10px;
  }

  .ProjectInformation p {
    line-height: 16px;
  }

  .ProjectInformationTitle {
    font-size: 22px;
  }

  .ProjectResponsibilities {
    font-size: 18px;
    padding-bottom: 10px;
  }

  .ProjectResponsibilitiesTitle {
    font-size: 22px;
  }
  .ProjectResponsibilities p {
    line-height: 26px;
  }
}

@media (max-width: 920px) {
  .Project {
    margin-top: 40px;
    display: block;
  }
  .ProjectLeft {
    width: 100%;
  }

  .ProjectRight {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
  .ProjectTitleText {
    width: 88%;
  }
}
