.ContactMe {
  margin: auto;
  width: 100%;
  margin-top: 50px;
}

.ContactMeTitle {
  width: 40%;
  border-bottom: white 2px solid;
  padding-left: 30%;
  padding-right: 30%;
  padding-bottom: 10px;
  font-size: 50px;
}

.ContactMeSubtitle {
  margin-top: 20px;
  font-size: 20px;
  padding-left: 30%;
  padding-right: 30%;
}

.ContactMeLinks {
  margin-top: 60px;
  padding-left: 30%;
  padding-right: 30%;
  display: flex;
  justify-content: space-around;
  font-size: 22px;
}

.ContactMeDowloadResume {
  margin-top: 20px;
  background-color: #111111;
  padding: 20px 40px 20px 40px;
  text-decoration: underline;
}

.ContactMeMethod {
  margin-top: 20px;
  background-color: #111111;
  padding: 20px 40px 20px 40px;
  display: flex;
}

.ContactIcon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.ContactText {
  margin-top: 2px;
  text-decoration: underline;
}

@media only screen and (max-width: 1920px) {
  .ContactMeTitle {
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10px;
    font-size: 30px;
  }

  .ContactMeSubtitle {
    padding-left: 20%;
    padding-right: 20%;
  }

  .ContactMeLinks {
    margin-top: 60px;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 16px;
  }
  .ContactIcon {
    width: 24px;
    height: 24px;
  }
}
