.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.HomeContent {
  width: 100%;
}

.Intro {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.IntroVideo video {
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.IntroImage {
  margin: 3%;
  height: 100px;
  width: 100px;
  float: left;
}

.IntroName {
  position: absolute;
  top: 74vh;
  left: 5vw;
  font-size: 100px;
  background-color: #111111;
  width: 500px;
  text-align: left;
}

.IntroTitle {
  font-size: 30px;
  padding-top: 20px;
}

.IntroAbout {
  font-size: 16px;
  padding-bottom: 10px;
}

.ProjectArrow {
  position: absolute;
  top: 90vh;
}

.ProjectArrowText {
  font-size: 40px;
}

.ProjectArrowImage {
  width: 200px;
  height: 30px;
}

.FeaturedProjects {
  margin: auto;
  width: 100%;
  margin-top: 30px;
}

.FeaturedProjectsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc((100vw - 920px) / 2);
  width: 920px;
}

.FeaturedProjectMore {
  margin-top: 20px;
  text-decoration: underline;
  font-style: italic;
  font-size: 25px;
  text-align: right;
}

.MoreProjectsButtonBox {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.MoreProjectsButton {
  width: 150px;
  height: 20px;
  padding: 10px;
  background-color: magenta;
  font-weight: bold;
}

/* .Skills {
  margin: auto;
  width: 50%;
  margin-top: 20px;
}

.SkillsTitle {
  width: 100%;
  font-size: 30px;
  display: flex;
}

.SkillsMore {
  padding-left: 30%;
  padding-right: 30%;
  margin-top: 20px;
  font-size: 20px;
}

.SkillsList {
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
} */

@media (min-width: 1920px) {
  .FeaturedProjectsBox {
    margin-left: calc((100vw - 1440px) / 2);
    width: 1440px;
  }
}
@media (max-width: 920px) {
  .FeaturedProjects {
    margin: 0;
    width: 100%;
    margin-top: 30px;
  }
  .FeaturedProjectsBox {
    display: block;
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 600px) {
  .IntroName {
    width: 100%;
    position: absolute;
    top: 74vh;
    left: 0;
  }
}
