.ResonanceSketchesImages {
  display: flex;
  margin-top: 20px;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ResonanceSketchesImage {
  max-width: 45%;
  margin-bottom: 5px;
}

.ResonanceSketchesImageLong {
  width: 100%;
  margin-bottom: 5px;
}

.ResonanceFourByFour {
  width: 600%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.ResonanceFourByFour img {
  width: 100%;
}

.ResonanceDGA {
  position: fixed;
  bottom: 0;
  right: 5%;
  width: 10vw;
  height: 35vh;
}
