.Tag {
  margin: 5px;
  padding: 10px 15px 10px 15px;
  background-color: #111111;
  font-size: 15px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  border: white 2px solid;
}

.TagIcon {
  width: 32px;
  height: 32px;
  margin-left: 10px;
}

@media only screen and (min-width: 800px) {
  .Tag {
    font-size: 10px;
    padding: 5px 10px 5px 10px;
  }
  .TagIcon {
    width: 24px;
    height: 24px;
    margin-left: 5px;
  }
}
